.navbar {
    background: transparent;
}

header .left a h1 { color: #ffffff }
header .left #toggleNavbar svg path { fill: #ffffff }
header .center a { color: #ffffff }
header .center a:nth-child(odd) { background: none;}
header .right .redirect { 
    background-color: rgba(255, 255, 255, 0.04);
    border: 1px solid rgba(255, 255, 255, 0.12);
    color: #ffffff;
}

@media screen and (min-width: 200px) and (max-width: 1080px) {
    .navbar.collapsed {
        backdrop-filter: none;
        background-color: transparent;
    }

    .navbar {
        position: absolute;
        backdrop-filter: blur(15px);
        background-color: rgba(0, 0, 0, 0.5);
    }

    .page-home {
        overflow: hidden;
    }

    .page-home #hero {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: top;
        gap: 50px;

        width: 100%;
        height: auto;
        padding-top: 125px;

        background-color: #000000;
        box-sizing: border-box;
    }
    
    .page-home #hero #backdrop {
        position: absolute;
        top: 0; left: 50%; transform: translateX(-50%);
        width: 100%;
        height: 100%;
        max-height: 1005px;
    
        object-fit: fill;
        z-index: 1;
    }
    
    .page-home #hero .main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    
        position: relative;
        width: 100%;
        height: auto;
    
        z-index: 2;
    }
    
    .page-home #hero .main h1 {
        text-align: center;
        font-size: 60px;
        font-weight: 700;
        color: var(--heroTitle);
    } 
    
    .page-home #hero .main h1 span {
        color: var(--accent);
    }
    
    .page-home #hero .main p {
        padding: 0 40px;

        text-align: center;
        letter-spacing: 0.2px;
        line-height: 140%;
        font-size: 20px;
        color: var(--heroText);
    }
    
    .page-home #hero .main .trust {
        display: flex;
        flex-direction: row;
        gap: 10px;
    
        scale: 90%;
        padding: 10px 20px;
    
        background-color: var(--headerRedirect);
        border: 1px solid var(--headerRedirectBorder);
        border-radius: 8px;
    
        font-size: 16px;
        font-weight: 600;
        color: var(--heroTrustText);
    }
    
    .page-home #hero .main .trust svg {
        width: 20px;
    }
    
    .page-home #hero .main .actions {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
    
        width: 100%;
        padding: 25px 0;
    }

    .page-home #hero .main .actions a {
        justify-content: center;
        width: 75%;
    }
    
    .page-home #hero .highlights {
        display: flex;
        flex-direction: column;
        justify-content: top;
        align-items: center;
        gap: 25px;
    
        position: relative;
        width: 100%;
        height: auto;
        padding: 0 50px 100px 50px;
    
        box-sizing: border-box;
        z-index: 2;
    }
    
    .page-home #hero .highlights div {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    
        width: 100%;
        height: auto;
        padding: 25px 25px;
    
        background: transparent;
        border: none;
        border-radius: 12px;
    
        text-align: center;

        box-sizing: border-box;
    }
    
    .page-home #hero .highlights div svg {
        width: 40px;
        height: 40px;
    }
    
    .page-home #hero .highlights div h1 {
        font-size: 30px;
        font-weight: 600;
        color: var(--heroBoxTitle);
    }
    
    .page-home #hero .highlights div p {
        text-align: center;
        letter-spacing: 0.2px;
        line-height: 140%;
        font-size: 20px;
        font-weight: 300;
        color: var(--heroBoxText);
    }
    
    .page-home #previews {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
    
        position: relative;
        width: 100%;
        height: auto;
        padding: 50px 25px;
    
        background-color: #ffffff;
        box-sizing: border-box;
    }
    
    .page-home #previews img {
        width: 100%;
    }
    
    .page-home #previews .wrapper {
        display: flex;
        flex-direction: column;
        gap: 100px;
    
        padding: 10px;
        height: auto;
    
        box-sizing: border-box;
    }
    
    .page-home #previews .wrapper h1 {
        text-align: center;
        font-size: 45px;
        font-weight: 700;
        color: var(--previewsTitle);
    }
    
    .page-home #previews .wrapper div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    
        width: 100%;
        height: auto;
    }
    
    .page-home #previews .wrapper div .top {
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: center;
        gap: 20px;        
    }
    
    .page-home #previews .wrapper div h1 {
        text-align: center;
        font-size: 30px;
        font-weight: 600;
        color: var(--previewsTitle);
    }
    
    .page-home #previews .wrapper div p {
        text-align: center;
        font-size: 20px;
        font-weight: 500;
        color: var(--previewsText);
    }
    
    .page-home #previews .wrapper div svg {
        width: 50px;
        height: 50px;
    }
    
    .page-home #previews .wrapper div svg path { fill: var(--previewsTitle) }
    
    .page-home #help {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 75px;

        position: relative;
        height: auto;
        padding: 100px 25px;
    
        background-color: #f2f2f2;
        box-sizing: border-box;
    }
    
    .page-home #help .support {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;
    
        position: relative;
        box-sizing: border-box;
    }
    
    .page-home #help .support h1 {
        font-size: 50px;
        font-weight: 600;
        color: var(--helpTitle);
    }
    
    .page-home #help .support #wrapper {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        gap: 12px;

        text-align: center;
        text-wrap: nowrap;
    }

    .page-home #help .support #redirect {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    
        width: auto;
        height: auto;
        padding: 15px 35px;
    
        background: var(--helpRedirect);
        border: 1px solid var(--helpRedirectBorder);
        border-radius: 8px;
    
        color: var(--helpRedirectText);
    
        box-sizing: border-box;
    }
    
    .page-home #help .support #redirect svg {
        width: 20px;
        height: 20px;
    }
    
    .page-home #help .support #redirect svg path {
        fill: var(--headerRedirectText);
    }

    .page-home #help .faq {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 12px;
    
        position: relative;
        height: auto;
        width: 100%;

        box-sizing: border-box;
    }

    .page-home #help .faq button {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 20px;
    
        position: relative;
        width: 100%;
        padding: 12px;
    
        background: transparent;
        border: none; outline: none;
        border-radius: 8px;
    
        cursor: pointer;
    }
    
    .page-home #help .faq button h1 {
        padding-right: 40px;

        text-align: left;
        
        pointer-events: none;
    }
    
    .page-home #help .faq svg { pointer-events: none  }

    .page-home #help .faq #plus {
        display: inline-block;
    
        position: absolute;
        top: 15px; right: 15px;
    
        width: 20px;
        height: 20px;
    }
    
    .page-home #help .faq .active #minus {
        display: inline-block;
    
        position: absolute;
        top: 15px; right: 15px;
    
        width: 20px;
        height: 20px;
    }
    
    .page-home #help .faq p { 
        display: none;

        text-align: left;
        font-size: 18px;
        color: var(--helpText);

        pointer-events: none; 
    }

    .page-home #help .faq .active { background-color: var(--helpBox) }
    .page-home #help .faq p b { font-weight: 600 }
    .page-home #help .faq p a { color: var(--accent) }
    .page-home #help .faq .active p { display: block }
    .page-home #help .faq svg path { fill: var(--helpSVG) }
    .page-home #help .faq .active #plus { display: none }
    .page-home #help .faq #minus { display: none }
    
    .page-home #community {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
    
        position: relative;
        width: 100%;
        height: auto;
        padding: 150px 25px;
    
        background-color: #000000;
        box-sizing: border-box;
    }
    
    .page-home #community #backdrop {
        position: absolute;
        top: 0; left: 50%; transform: translateX(-50%);
        width: 100%;
        height: 100%;
    
        opacity: 25%;
        filter: blur(12px);
        object-fit: fill;
    }
    
    .page-home #community h1 {
        text-align: center;
        font-size: 50px;
        font-weight: 600;
        color: var(--communityTitle);
        z-index: 1;
    }
    
    .page-home #community p {
        text-align: center;
        font-size: 25px;
        font-weight: 400;
        color: var(--communityText);
        z-index: 1;
    }
    
    .page-home #community a {
        z-index: 1;
    }
    
    
    
    /*  */
    
    
    
    .page-home #redirect {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    
        padding: 15px 20px;
    
        background: var(--headerRedirect);
        border: 1px solid var(--headerRedirectBorder);
        border-radius: 8px;
        
        font-size: 20px;
        color: var(--headerRedirectText);
    
        box-sizing: border-box;
    }
    
    .page-home #redirect svg {
        width: 20px;
        height: 20px;
    }
    
    .page-home #redirect svg path {
        fill: var(--headerRedirectText);
    }
    
    .page-home #button {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    
        padding: 15px 20px;
    
        background: var(--accentGradient);
        border-radius: 8px;
        
        font-size: 20px;
        color: var(--headerButtonText);
    
        box-sizing: border-box;
    }
    
    .page-home #button svg {
        width: 20px;
        height: 20px;
    }
    
    .page-home #button svg path {
        fill: var(--headerButtonText);
    }
    
    
    
    /*  */
    
    
    
    .page-home .hidden {
        opacity: 0;
        transform: translateY(100%);
        transition: all 1s;
    }  
    
    .page-home .hiddenBlur {
        opacity: 0;
        filter: blur(5px);
        transform: translateY(100%);
        transition: all 1s;
    }
    
    .page-home .show {
        opacity: 1;
        filter: blur(0);
        transform: translateY(0);
    }
    
    @media(prefers-reduced-motion) {
        .page-home .hidden {
            transition: none;
        }
    }
        
    .page-home #previews .wrapper h1 { transition-delay: 100ms}
    .page-home #previews .wrapper div:nth-child(2) { transition-delay: 200ms}
    .page-home #previews .wrapper div:nth-child(3) { transition-delay: 300ms}
    .page-home #previews .wrapper div:nth-child(4) { transition-delay: 400ms}
    
    .page-home #community p, .page-home #community a { transition-delay: 200ms };
}

@media screen and (min-width: 1081px) {
    .page-home #hero {
        position: relative;
        width: 100%;
        height: 1005px;
    
        background-color: #000000;
        box-sizing: border-box;
    }
    
    .page-home #hero #backdrop {
        position: absolute;
        top: 50%; left: 50%; transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
    
        object-fit: fill;
        z-index: 1;
    }
    
    .page-home #hero .main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    
        position: relative;
        top: 205px;
        width: 100%;
        height: auto;
    
        z-index: 2;
    }
    
    .page-home #hero .main h1 {
        font-size: 80px;
        font-weight: 700;
        color: var(--heroTitle);
    } 
    
    .page-home #hero .main h1 span {
        color: var(--accent);
    }
    
    .page-home #hero .main p {
        color: var(--heroText);
    }
    
    .page-home #hero .main .trust {
        display: flex;
        flex-direction: row;
        gap: 10px;
    
        scale: 90%;
        padding: 10px 20px;
    
        background-color: var(--headerRedirect);
        border: 1px solid var(--headerRedirectBorder);
        border-radius: 8px;
    
        font-size: 16px;
        font-weight: 600;
        color: var(--heroTrustText);
    }
    
    .page-home #hero .main .trust svg {
        width: 20px;
    }
    
    .page-home #hero .main .actions {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 12px;
    
        width: 100%;
        padding: 25px 0;
    }
    
    .page-home #hero .highlights {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 25px;
    
        position: relative;
        top: 310px;
        width: 100%;
        height: auto;
    
        z-index: 2;
    }
    
    .page-home #hero .highlights div {
        display: flex;
        flex-direction: column;
        gap: 15px;
    
        width: 425px;
        height: auto;
        padding: 40px 50px;
    
        background-color: var(--heroBoxBackground);
        border: 1px solid var(--heroBoxBorder);
        border-radius: 12px;
    
        box-sizing: border-box;
    }
    
    .page-home #hero .highlights div svg {
        width: 40px;
        height: 40px;
    }
    
    .page-home #hero .highlights div h1 {
        font-size: 30px;
        font-weight: 600;
        color: var(--heroBoxTitle);
    }
    
    .page-home #hero .highlights div p {
        font-size: 16px;
        font-weight: 300;
        color: var(--heroBoxText);
    }
    
    .page-home #previews {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 50px;
    
        position: relative;
        width: 100%;
        height: auto;
        padding: 150px;
    
        background-color: #ffffff;
        box-sizing: border-box;
    }
    
    .page-home #previews img {
        width: 742px;
        height: 505.91px;
    }
    
    .page-home #previews .wrapper {
        display: flex;
        flex-direction: column;
        gap: 50px;
    
        padding: 10px;
        height: auto;
    
        box-sizing: border-box;
    }
    
    .page-home #previews .wrapper h1 {
        font-size: 50px;
        font-weight: 700;
        color: var(--previewsTitle);
    }
    
    .page-home #previews .wrapper div {
        display: flex;
        flex-direction: column;
        gap: 20px;
    
        width: 100%;
        height: auto;
    }
    
    .page-home #previews .wrapper div .top {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 18px;
    }
    
    .page-home #previews .wrapper div h1 {
        font-size: 30px;
        font-weight: 600;
        color: var(--previewsTitle);
    }
    
    .page-home #previews .wrapper div p {
        font-size: 20px;
        font-weight: 500;
        color: var(--previewsText);
    }
    
    .page-home #previews .wrapper div svg {
        width: 30px;
        height: 30px;
    }
    
    .page-home #previews .wrapper div svg path { fill: var(--previewsTitle) }
        
    .page-home #help {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    
        position: static;
        height: auto;
        padding: 150px 150px;
    
        background-color: #f2f2f2;
        box-sizing: border-box;
    }
    
    .page-home #help .support {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 25px;
    
        box-sizing: border-box;
    }
    
    .page-home #help .support h1 {
        font-size: 65px;
        font-weight: 600;
        color: var(--helpTitle);
    }
    
    .page-home #help .support #wrapper {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        gap: 12px;
    }

    .page-home #help .support #redirect {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    
        width: auto;
        height: auto;
        padding: 10px 20px;
    
        background: var(--helpRedirect);
        border: 1px solid var(--helpRedirectBorder);
        border-radius: 8px;
    
        color: var(--helpRedirectText);
    
        box-sizing: border-box;
    }
    
    .page-home #help .support #redirect svg {
        width: 20px;
        height: 20px;
    }
    
    .page-home #help .support #redirect svg path {
        fill: var(--headerRedirectText);
    }
    
    .page-home #help .faq {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 12px;
    
        position: relative;
        height: auto;
        width: 1085px;
    }
    
    .page-home #help .faq button {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 12px;
    
        position: relative;
        width: 100%;
        padding: 12px;
    
        background: transparent;
        border: none; outline: none;
        border-radius: 8px;

        cursor: pointer;
    }
    
    .page-home #help .faq button h1 {
        pointer-events: none;
    }
    
    .page-home #help .faq svg { pointer-events: none  }

    .page-home #help .faq #plus {
        display: inline-block;
    
        position: absolute;
        top: 15px; right: 15px;
    
        width: 20px;
        height: 20px;
    }
    
    .page-home #help .faq .active #minus {
        display: inline-block;
    
        position: absolute;
        top: 15px; right: 15px;
    
        width: 20px;
        height: 20px;
    }
    
    .page-home #help .faq .active { background-color: var(--helpBox) }
    .page-home #help .faq p { text-align: left; display: none; pointer-events: none; }
    .page-home #help .faq p b { font-weight: 600 }
    .page-home #help .faq p a { color: var(--accent) }
    .page-home #help .faq .active p { display: block; font-size: 16px; color: var(--helpText); }
    .page-home #help .faq svg path { fill: var(--helpSVG) }
    .page-home #help .faq .active #plus { display: none }
    .page-home #help .faq #minus { display: none }
    
    .page-home #community {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 25px;
    
        position: relative;
        width: 100%;
        height: auto;
        padding: 150px 150px;
    
        background-color: #000000;
        box-sizing: border-box;
    }
    
    .page-home #community #backdrop {
        position: absolute;
        top: 50%; left: 50%; transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
    
        opacity: 25%;
        filter: blur(12px);
        object-fit: fill;
    }
    
    .page-home #community h1 {
        font-size: 65px;
        font-weight: 600;
        color: var(--communityTitle);
        z-index: 1;
    }
    
    .page-home #community p {
        font-size: 25px;
        font-weight: 400;
        color: var(--communityText);
        z-index: 1;
    }
    
    .page-home #community a {
        z-index: 1;
    }
    
    
    
    /*  */
    
    
    
    .page-home #redirect {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    
        padding: 10px 20px;
    
        background: var(--headerRedirect);
        border: 1px solid var(--headerRedirectBorder);
        border-radius: 8px;
    
        color: var(--headerRedirectText);
    
        box-sizing: border-box;
    }
    
    .page-home #redirect svg {
        width: 20px;
        height: 20px;
    }
    
    .page-home #redirect svg path {
        fill: var(--headerRedirectText);
    }
    
    .page-home #button {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    
        padding: 10px 20px;
    
        background: var(--accentGradient);
        border-radius: 8px;
    
        color: var(--headerButtonText);
    
        box-sizing: border-box;
    }
    
    .page-home #button svg {
        width: 20px;
        height: 20px;
    }
    
    .page-home #button svg path {
        fill: var(--headerButtonText);
    }
    
    
    
    /*  */
    
    
    
    .page-home .hidden {
        opacity: 0;
        transform: translateY(100%);
        transition: all 1s;
    }  
    
    .page-home .hiddenBlur {
        opacity: 0;
        filter: blur(5px);
        transform: translateY(100%);
        transition: all 1s;
    }
    
    .page-home .show {
        opacity: 1;
        filter: blur(0);
        transform: translateY(0);
    }
    
    @media(prefers-reduced-motion) {
        .page-home .hidden {
            transition: none;
        }
    }
        
    .page-home #previews .wrapper h1 { transition-delay: 100ms}
    .page-home #previews .wrapper div:nth-child(2) { transition-delay: 200ms}
    .page-home #previews .wrapper div:nth-child(3) { transition-delay: 300ms}
    .page-home #previews .wrapper div:nth-child(4) { transition-delay: 400ms}
    
    .page-home #community p, .page-home #community a { transition-delay: 200ms };
}